@using Ensco.App.Areas.Oap.Models
@using Ensco.App.Areas.Oap.Controllers
@using Ensco.Irma.Oap.WebClient.Rig

@model IList<OapGenericCheckListFlatModel>


@{
    var controller = (MasterOversightController)ViewContext.Controller;
    var groups = Model.OrderBy(c => c.Group).Select(c => c.Group).Distinct();

    RigOapChecklist rigOapChecklist = (RigOapChecklist)ViewBag.RigChecklist;
    DateTime checklistDate = rigOapChecklist.ChecklistDateTime.Date;

    var listItems = new List<SelectListItem>()
{
new SelectListItem() { Text = "Select..", Value = ""},
new SelectListItem() { Text = "Yes", Value = "Y" },
new SelectListItem() { Text = "No", Value = "N" },
new SelectListItem() { Text = "N/A", Value = "NA" }
};    

}

@using (Ajax.BeginForm("UpdateChecklistAnswers", 
    new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "ExecutionLoadingPanel.Show()",
        OnComplete = "ExecutionLoadingPanel.Hide()",
        OnFailure = "alert('An error has occurred when saving the checklist)"
    }))
{
    @Html.DevExpress().FormLayout(settings =>
    {
        settings.Name = "ExecutionToolbar";
        settings.UseDefaultPaddings = false;
        settings.AlignItemCaptionsInAllGroups = true;
        settings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
        settings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 600;

        var item = settings.Items.Add(i =>
        {
            i.ShowCaption = DefaultBoolean.False;
            i.CssClass = "buttonToolbar";
            i.Width = Unit.Percentage(100);
            i.NestedExtension().Button(s =>
            {
                s.Name = "applyExecutionChanges";
                s.Text = "Save";
                s.UseSubmitBehavior = true;
                s.Width = Unit.Pixel(100);
                s.RouteValues = new { Action = "UpdateChecklistAnswers" };
            });
        });
    }).GetHtml()


    <table class="dxgvTable_EnscoTheme dxgvControl_EnscoTheme dxgv oap-checklist-table" style="width:100%;">
        <caption style="text-align: left">Checklist</caption>
        <thead>
            <tr>
                <th class="dxgvHeader_EnscoTheme dx-wrap"></th>
                <th class="dxgvHeader_EnscoTheme dx-wrap">@Html.Translate("Topic")</th>
                <th class="dxgvHeader_EnscoTheme dx-wrap">@Html.Translate("I verify that I:")</th>                
                <th class="dxgvHeader_EnscoTheme dx-wrap" style="width:10%;">@Html.Translate("Frequency")</th>
                @for (int i = 0; i < controller.Columns; i++)
                {
                    <th class="dxgvHeader_EnscoTheme dx-wrap">@Html.Translate("Week") @(i + 1)</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int overallAnswerCounter = 0;
            }
            @foreach (string group in groups)
            {
                <tr class="dxgvGroupRow_EnscoTheme">
                    <td colspan="20" class="dxgv">@group</td>
                </tr>
                var questionsOrderedByTopic = Model.Where(c => c.Group == group).OrderBy(c => c.Topic).ThenBy(c => c.QuestionOrdinal);
                int questionCounter = 0;
                int groupCounter = 1;

                foreach (var question in questionsOrderedByTopic)
                {
                    <tr class="dxgvDataRow_EnscoTheme" style="@(questionCounter % 2 == 0 ? "background-color: rgb(244, 244, 244);" : "" )">
                        <td class="dxgv">@groupCounter</td>
                        <td class="dxgv">@Html.Translate(question.Topic)</td>
                        <td class="dxgv">@Html.Translate(question.Question)</td>
                        @*<td class="dxgv">Comment placeholder</td>*@
                        <td class="dxgv">@Html.Translate(question.Frequency)</td>

                        <td class="dxgv">
                            <input type="hidden" name="[@overallAnswerCounter].QuestionId" value="@question.RigQuestionId" />
                            <input type="hidden" name="[@overallAnswerCounter].AnswerOrdinal" value="0" />
                            <input type="hidden" name="[@overallAnswerCounter].Test" value="@question.QuestionId" />
                            <select name="@string.Format("[{0}].Value", overallAnswerCounter)"
                                    @( DateTime.Now.Date >= checklistDate && DateTime.Now.Date <= checklistDate.AddDays(8) && rigOapChecklist.IsEditable() ? "" : "disabled" )
                                    onchange="checklistAnswerChanged(this, @question.QuestionId, '@rigOapChecklist.Id')">
                                @foreach (var item in listItems)
                                {
                                    <option value="@item.Value"
                                            @(item.Value == question.YesNoNa0 ? "selected" : "")>
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </td>
                        @{
                            overallAnswerCounter++;
                        }

                        <td class="dxgv">
                            <input type="hidden" name="[@overallAnswerCounter].QuestionId" value="@question.RigQuestionId" />
                            <input type="hidden" name="[@overallAnswerCounter].AnswerOrdinal" value="1" />
                            <input type="hidden" name="[@overallAnswerCounter].Test" value="@question.QuestionId" />
                            <select name="@string.Format("[{0}].Value", overallAnswerCounter)"
                                    @( DateTime.Now.Date >= checklistDate.AddDays(7) && DateTime.Now.Date < checklistDate.AddDays(15) && rigOapChecklist.IsEditable() ? "" : "disabled" )
                                    onchange="checklistAnswerChanged(this, @question.QuestionId, '@rigOapChecklist.Id')">
                                @foreach (var item in listItems)
                                {
                                    <option value="@item.Value"
                                            @(item.Value == question.YesNoNa1 ? "selected" : "")>
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </td>
                        @{
                            overallAnswerCounter++;
                        }
                        <td class="dxgv">
                            <input type="hidden" name="[@overallAnswerCounter].QuestionId" value="@question.RigQuestionId" />
                            <input type="hidden" name="[@overallAnswerCounter].AnswerOrdinal" value="2" />
                            <input type="hidden" name="[@overallAnswerCounter].Test" value="@question.QuestionId" />
                            <select name="@string.Format("[{0}].Value", overallAnswerCounter)"
                                    @( DateTime.Now.Date >= checklistDate.AddDays(14) && DateTime.Now.Date < checklistDate.AddDays(22) && rigOapChecklist.IsEditable() ? "" : "disabled" )
                                    onchange="checklistAnswerChanged(this, @question.QuestionId, '@rigOapChecklist.Id')">
                                @foreach (var item in listItems)
                                {
                                    <option value="@item.Value"
                                            @(item.Value == question.YesNoNa2 ? "selected" : "")>
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </td>
                        @{
                            overallAnswerCounter++;
                        }
                        <td class="dxgv">
                            <input type="hidden" name="[@overallAnswerCounter].QuestionId" value="@question.RigQuestionId" />
                            <input type="hidden" name="[@overallAnswerCounter].AnswerOrdinal" value="3" />
                            <input type="hidden" name="[@overallAnswerCounter].Test" value="@question.QuestionId" />
                            <select name="@string.Format("[{0}].Value", overallAnswerCounter)"
                                    @( DateTime.Now.Date >= checklistDate.AddDays(21) && DateTime.Now.Date < checklistDate.AddDays(29) && rigOapChecklist.IsEditable() ? "" : "disabled" )
                                    onchange="checklistAnswerChanged(this, @question.QuestionId, '@rigOapChecklist.Id')">
                                @foreach (var item in listItems)
                                {
                                    <option value="@item.Value"
                                            @(item.Value == question.YesNoNa3 ? "selected" : "")>
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </td>
                        @{
                            overallAnswerCounter++;
                        }
                    </tr>
                    <tr class="dxgvDataRow_EnscoTheme dxgvDetailRow_EnscoTheme" id="InlineCommentContainer_@question.QuestionId">
                        @if (question.HasComments(rigOapChecklist) || question.YesNoNa0 == "N" || question.YesNoNa1 == "N" || question.YesNoNa2 == "N" || question.YesNoNa3 == "N")
                        {
                            <td colspan="10" class="dxgv">
                                <div>                                    
                                    @Html.Action("InlineControl", new { Controller = "Comments", Area = "IRMA", SourceForm = "OAP", SourceFormId = rigOapChecklist.Id, QuestionId = question.QuestionId, QuestionText = question.Question, readOnly = !rigOapChecklist.IsEditable() })
                                </div>
                            </td>
                        }
                    </tr>
                    questionCounter++;
                    groupCounter++;
                }
            }
        </tbody>
    </table>
}
@Html.DevExpress().LoadingPanel(settings =>
{
    settings.Name = "ExecutionLoadingPanel";
    settings.Modal = true;
    settings.ContainerElementID = "genericChecklistPage_CC";
}).GetHtml()

<style>
    table.oap-checklist-table tr:nth-child(even) {
        background-color: white;
    }
</style>